asgiref==3.7.2
cffi==1.16.0
crispy-bootstrap5==2023.10
cryptography==42.0.5
dj-database-url==2.1.0
Django==5.0.2
django-crispy-forms==2.1
django-extensions==3.2.3
django-recaptcha==4.0.0
gunicorn==21.2.0
MarkupSafe==2.1.5
packaging==23.2
psycopg2-binary==2.9.9
pycparser==2.21
pyOpenSSL==24.0.0
python-dotenv==1.0.1
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
Werkzeug==3.0.1
whitenoise==6.6.0
