Hola <b>{{ nombre_completo }}</b>.

<p>Este correo es para confirmar tu registro en el sistema para participar en el Canguro Matemático Mexicano /Invitación
    a las Olimpiadas Matemáticas 2024. Nos da mucho gusto saber que decidiste participar. A continuación te mencionamos
    información importante sobre la aplicación de los exámenes.</p>

<p>En los siguientes días se habilitará un botón en el sitio web (invitacionolimpiadacanguro.com/) para que puedas
    ingresar a tu cuenta utilizando el nombre de usuario y contraseña que creaste.</p>

<p>Una vez que ingreses a tu cuenta, en la barra de navegación se mostrará una liga llamada "Algunos problemas de
    prueba". Al dar clic en esa liga entrarás a una nueva página donde podrás resolver 3 preguntas de opción múltiple
    del estilo de las que aparecerán en el examen del 21 y 22 de marzo. El objetivo de esta práctica es que te
    familiarices con el formato de aplicación de los exámenes. Este pequeño examen no necesariamente es del nivel en el
    que te registraste ni tiene una calificación asignada.</p>

<p>Los exámenes por niveles (Escolar, Benjamín, Cadete, Junior, Estudiante) se aplicarán en línea en el mismo sitio web
    (invitacionolimpiadacanguro.com/) durante una hora, a escoger, desde el jueves 21 de marzo a las 7:00 a.m. hasta el
    viernes 22 de marzo a las 11:59 p.m. (horarios del centro de la república). Constarán de 15 preguntas de opción
    múltiple cada uno. En días posteriores enviaremos más información por correo sobre los mismos.</p>

<p>También aprovechamos la oportunidad para pedirte una disculpa por las fallas técnicas que sufrimos anteriormente.
    Proporcionamos este correo (ommcanguro@gmail.com) para cualquier aclaración o duda que tengas al respecto, la cual
    resolveremos en la brevedad de lo posible.</p>

<p>Muchas gracias y mucha suerte.</p>

<p>Comité del Canguro Matemático Mexicano/Invitación a las Olimpiadas Matemáticas 2024.</p>